$body-bg-light: #f8f8f8
$body-fg-light: #222

$body-bg-dark: #222
$body-fg-dark: #f8f8f8

$font-family-custom: Manrope, Geologica, DM Sans, Roboto, Plus Jakarta Sans, Lato, Open Sans, Rubik, Poppins, PT Sans
$font-family-latin: system-ui
$font-family-cjk: 'PingFang TC'

$font-family-sans: $font-family-custom, $font-family-latin, $font-family-cjk

$header-height: 80px

$body-content-horizontal-padding: 10rem
