@import @css/prelude

:root
  @each $key, $value in $light-palette
    --#{$key}: #{$value}

  +dark
    @each $key, $value in $dark-palette
      --#{$key}: #{$value}

html,
body
  margin: 0
  padding: 0
  font-size: 100%
  color-scheme: dark light

body
  font-family: $font-family-sans
  background: var(--emph-bg)
  color: var(--body-fg)
  font-weight: 500

*, *::after, *::before
  box-sizing: border-box

.container
  width: $content-width
  margin: 0 auto

.hero-container
  margin: 0 $hero-content-horizontal-padding

h2, h3 
  font-weight: 500
  line-height: 1.25
  margin: 0

h2
  font-size: 3rem
h3
  font-size: 1.5rem

.system-font
  font-family: $font-family-system
  font-weight: 400
